<div class="container p-5">
    <div class="row">
        <div class="col-md-4">
            <form action="mark-adding" method="POST">

                <div class="form-group">
                    <label for="exampleInputPassword1">Enter student regitser number</label>
                    <input type="text" class="form-control"name="register" placeholder="Register  number">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Enter student name</label>
                    <input type="text" class="form-control"name="name" placeholder="name">
                </div>

        </div>
        <div class="col-md-8">
            <table class="table">
  <thead>
    <tr>
      <th scope="col">Course code</th>
      <th scope="col">Course title</th>
      <th scope="col">Marks</th>
      <th scope="col">Total Marks</th>
       <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><input type="text" class="form-control" name="courseCode1"value="BCS10" placeholder="course code"></th>
      <td> <input type="text" class="form-control" name="course_title1" placeholder="course title"></td>
      <td> <input type="text" class="form-control" name="marks1" placeholder="marks"></td>
      <td> <input type="text" class="form-control"name="total_marks1" placeholder="total marks"></td>
       <td> <input type="text" class="form-control"name="grade1" placeholder="grade"></td>
    
    </tr>
     <tr>
      <th scope="row"><input type="text"name="courseCode2"value="BCS11" class="form-control" placeholder="course code"></th>
      <td> <input type="text" class="form-control"name="course_title2" placeholder="course title"></td>
      <td> <input type="text" class="form-control" name="marks2" placeholder="marks"></td>
      <td> <input type="text" class="form-control"name="total_marks2" placeholder="total marks"></td>
       <td> <input type="text" class="form-control"name="grade2" placeholder="grade"></td>
    
    </tr>
     <tr>
      <th scope="row"><input type="text" name="courseCode3"value="BCS12" class="form-control" placeholder="course code"></th>
      <td> <input type="text" class="form-control"name="course_title3" placeholder="course title"></td>
      <td> <input type="text" class="form-control" name="marks3"placeholder="marks"></td>
      <td> <input type="text" class="form-control"name="total_marks3" placeholder="total marks"></td>
       <td> <input type="text" class="form-control"name="grade3" placeholder="grade"></td>
    
    </tr>
     <tr>
      <th scope="row"><input type="text" name="courseCode4" value="BCS13" class="form-control" placeholder="course code"></th>
      <td> <input type="text" class="form-control"name="course_title4" placeholder="course title"></td>
      <td> <input type="text" class="form-control"name="marks4" placeholder="marks"></td>
      <td> <input type="text" class="form-control"name="total_marks4" placeholder="total marks"></td>
       <td> <input type="text" class="form-control"name="grade4" placeholder="grade"></td>
    
    </tr>
     <tr>
      <th scope="row"><input type="text" name="courseCode5"value="BCS14" class="form-control" placeholder="course code"></th>
      <td> <input type="text" class="form-control" name="course_title5"placeholder="course title"></td>
      <td> <input type="text" class="form-control"name="marks5"  placeholder="marks"></td>
      <td> <input type="text" class="form-control"name="total_marks5" placeholder="total marks"></td>
       <td> <input type="text" class="form-control"name="grade5" placeholder="grade"></td>
    
    </tr>
     <tr>
    
      <th scope="row"><input type="text"name="courseCode6"  value="BCS15"class="form-control" placeholder="course code"></th>
      <td> <input type="text" class="form-control"name="course_title6" placeholder="course title"></td>
      <td> <input type="text" class="form-control"name="marks6" placeholder="marks"></td>
      <td> <input type="text" class="form-control"name="total_marks6" placeholder="total marks"></td>
       <td> <input type="text" class="form-control"name="grade6" placeholder="grade"></td>
    
    </tr> 
  </tbody>
</table>
            <div class="text-center">
                <button type="submit" class="btn btn-success" value="submit">Submit</button>

            </div>
            </form>
        </div>
    </div>
</div>